@using RexSimulator.Hardware
@using RexSimulator.Hardware.Wramp
@using System.Text.RegularExpressions
@inject IJSRuntime JSRuntime

<div class="accordion my-2">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed text-end" type="button" data-bs-toggle="collapse" data-bs-target="#visualiser" aria-expanded="false" aria-controls="visualiser">
                Visualiser
            </button>
        </h2>
        <div id="visualiser" class="accordion-collapse collapse">
            <div class="accordion-body">
                <table class="table-sm mx-auto w-35">
                    @if (CodeStatements?.Count() > Board.CPU.PC && (Regex.IsMatch(ir.ToString(), shiftRegex) || Regex.IsMatch(ir.ToString(), arithmeticRegex)))
                    {
                        <thead>
                            <tr>
                                <th class="text-center" colspan="3">@CodeStatements?[Board.CPU.PC]</th>
                            </tr>
                        </thead>

                        <tbody class="table-group-divider">
                                @* Rs *@
                                <tr>
                                    <td class="format"><i class="bi bi-arrow-clockwise" @onclick='() => changeFormat("visualiseSource")'></i></td>
                                    <td class="w-25">$@ir.Rs:</td>
                                    <td class="text-end" id="visualiseSource">@Convert.ToString(Board.CPU.mGpRegisters[ir.Rs], 2)</td>
                                </tr>

                                @* i / Rt *@
                                <tr>
                                    <td class="format"><i class="bi bi-arrow-clockwise" @onclick='() => changeFormat("visualiseImmed")'></i></td>
                                    @if (ir.OpCode == IR.Opcode.arith_i)
                                    {
                                        <td>i:</td>

                                        if (Regex.IsMatch(ir.ToString(), arithmeticRegex))
                                        {
                                            <td class="text-end" id="visualiseImmed">@Convert.ToString(ir.Immed16, 2)</td>
                                        }
                                        else
                                        {
                                            <td class="text-end" id="visualiseImmed">
                                                @(ir.ToString().Contains("sr") ? ">>" : "<<")
                                                @ir.Immed16
                                            </td>
                                        }
                                    }
                                    else
                                    {
                                        <td>$@ir.Rt:</td>
                                        <td class="text-end" id="visualiseImmed">@Convert.ToString(Board.CPU.mGpRegisters[ir.Rt], 2)</td>
                                    }
                                </tr>

                                @* Rd *@
                                <tr class="border-top">
                                    <td class="format"><i class="bi bi-arrow-clockwise" @onclick='() => changeFormat("visualiseDest")'></i></td>
                                    <td>$@ir.Rd:</td>

                                    @if (Regex.IsMatch(ir.ToString(), arithmeticRegex))
                                    {
                                        if (ir.OpCode == IR.Opcode.arith_i)
                                        {
                                            <td class="text-end" id="visualiseDest">@Convert.ToString(Board.CPU.mGpRegisters[ir.Rs] + ir.Immed16, 2)</td>
                                        }
                                        else
                                        {
                                            <td class="text-end" id="visualiseDest">@Convert.ToString(Board.CPU.mGpRegisters[ir.Rs] + Board.CPU.mGpRegisters[ir.Rt], 2)</td>
                                        }
                                    }
                                    else
                                    {
                                        //TODO: Fix sign-extending (currently ending up with 31-bit values)
                                        switch (ir.Func)
                                        {
                                            case IR.Function.sll:
                                                <td class="text-end" id="visualiseDest">@Convert.ToString((Board.CPU.mGpRegisters[ir.Rs] << (ir.OpCode == IR.Opcode.arith_i ? (int)ir.Immed16 : (int)Board.CPU.mGpRegisters[ir.Rt])), 2)</td>
                                                break;
                                            case IR.Function.srl:
                                                <td class="text-end" id="visualiseDest">@Convert.ToString((Board.CPU.mGpRegisters[ir.Rs] >> (ir.OpCode == IR.Opcode.arith_i ? (int)ir.Immed16 : (int)Board.CPU.mGpRegisters[ir.Rt])), 2)</td>
                                                break;
                                            case IR.Function.sra:
                                                <td class="text-end" id="visualiseDest">@Convert.ToString(((uint)Board.CPU.mGpRegisters[ir.Rs] >> (ir.OpCode == IR.Opcode.arith_i ? (int)ir.Immed16 : (int)Board.CPU.mGpRegisters[ir.Rt])), 2)</td>
                                                break;
                                        }
                                    }
                                </tr>

                                <tr>
                                    <td colspan="3" class="text-center">
                                        <button type="button" class="btn btn-info mt-1" @onclick="VisualiseInstruction">Visualise</button>
                                    </td>
                                </tr>
                        </tbody>
                    }
                else
                {
                    <thead class="text-center">
                        <tr><th>Instruction cannot be visualised</th></tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr><td>&emsp;</td></tr>
                        <tr><td>&emsp;</td></tr>
                        <tr><td>&emsp;</td></tr>
                        <tr>
                            <td colspan="3" class="text-center">
                                <button type="button" class="btn btn-info mt-1" disabled>Visualise</button>
                            </td>
                        </tr>
                    </tbody>

                }
                </table>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    required public IR ir { get; set; }

    [Parameter]
    required public string[] CodeStatements { get; set; }

    [Parameter]
    required public RexBoard Board { get; set; }


    public string shiftRegex = @"sl(li||l)|sr(l|li|a|ai)";
    public string arithmeticRegex = @"(add|sub|mult|div|rem)u?i?|lhi";

    void changeFormat(string id)
    {
        JSRuntime.InvokeVoidAsync("changeFormat", id);
    }

    void VisualiseInstruction()
    {
        JSRuntime.InvokeVoidAsync("visualiseInstruction", Regex.IsMatch(ir.ToString(), arithmeticRegex) ? "arithmetic" : "shift");
    }
}