@* Change to update the page URL subdomain *@
@page "/levelBranching"
@using RexSimulator.Hardware
@using System.Text.Json
@using System.Reflection.PortableExecutable

@inject IJSRuntime JSRuntime

<Level @ref="levelComponent" Title="Branching" BoardChanged="CheckBoard" BoardCompiled="@BoardCompiled" Toolbox="@toolbox" maxInstances="@maxInstances" UIComponents="@Components" WSIMInstructions="@Instructions" startingWorkspace="@startingWorkspace"/>

@code {
    public UIComponents Components = new UIComponents(Blockly: true, Visualiser: true, Code: true, GPRegisters: true, SPRegisters: true, RAM: true, ParallelRegisters: true, SerialPort: true, LEDs: true, Switches: true, Buttons: true, SSDs: true);

    @* Checkmark icon
    <Checkmark id="" forInput=""/> *@
    @* Update int Section whenever the user reaches the next step*@
    public RenderFragment? Instructions => @<div>
        @switch (lc.Block)
        {
            case 0:
                @BlockOne;
                break;
        }

        <button class="btn btn-primary" @onclick="lc.PrevBlock" disabled="@(lc.Block == 0)">Prev</button>
        <button class="btn btn-primary" @onclick="lc.NextBlock" disabled="@(lc.Block == 100)">Next</button>
    </div>;

    public RenderFragment BlockOne => @<div>
        <p>Can you create an infinite loop, constantly incrementing the value of $1 from 0 upwards?</p>
        <span>e.g.<code>  while(true) reg1++;</code></span>
        <br />
        <br />

        <table class="table objectiveTable text-center">
            <tr>
                <td>Jump instruction present</td>
                <td><Checkmark id="checkmarkOne"/></td>
            </tr>
            <tr>
                <td>Increase $1 from 0 up to 10</td>
                <td><Checkmark id="checkmarkTwo"/></td>
            </tr>
            <tr>
                <td>Program currently running</td>
                <td><Checkmark id="checkmarkThree"/></td>
            </tr>
        </table>
    </div>;

    public string maxInstances = "{ 'global': 1}";

    public string startingWorkspace = """
    {"blocks":{"languageVersion":0,"blocks":[{"type":"textHead","id":"j.+Uj-+zg/uMGN]AFqv,","x":131,"y":47,"fields":{"instruction":".text"},"next":{"block":{"type":"global","id":"i0m/ymZEQ1!Cy`cL%Yui","fields":{"instruction":".global main"},"next":{"block":{"type":"label","id":"{5F--BdF]Y0ecZz@a6MV","fields":{"label":"main"},"next":{"block":{"type":"jumpRegister","id":"Kw#Onn.I7f)gzK]_*utL","fields":{"instruction":"jr","register":"$ra"}}}}}}}}]}}
    """;

    public async void BoardCompiled()
    {
        if (lc.Section == 0)
        {
            step2 = false;
        }
        if (lc.Section == 1)
        {
            Random rand = new Random();
            board.CPU.mGpRegisters[7] = (uint)rand.Next(-32767, 32767);
        }

    }

    bool step1 = false;
    bool step2 = false;
    bool step3 = false;

    /// <summary>
    /// This method is called on any changes to the WRAMP board, or the Blockly workspace. The state of the board can be accessed via the variable board or using
    /// the method WSIM.Verify(), variables like running can be accessed via WSIM, and the user's code can be accessed by calling await GetUserCode()
    /// </summary>
    /// <returns></returns>
    public async void CheckBoard()
    {
        string userCode = await lc.GetUserCode();

        if (lc.Section == 0)
        {
            step1 = userCode.Contains("j ");
            if(WSIM.Verify(new BoardCheck(WRAMPComponents.GPRegisters, 0, 10, 1)))
            {
                step2 = true;
            }
            step3 = WSIM.running;

            lc.CheckObjective(step1, "checkmarkOne");
            lc.CheckObjective(step2, "checkmarkTwo");
            lc.CheckObjective(step3, "checkmarkThree");

            if (step1 && step2 && step3 && lc.Section == 0)
            {
                lc.Section = 1;
                lc.Block = 1;
            }
        }
        if (lc.Section > 0)
        {
            lc.CheckObjective(true, "checkmarkOne");
            lc.CheckObjective(true, "checkmarkTwo");
            lc.CheckObjective(true, "checkmarkThree");
        }
    }

    public Toolbox toolbox = new Toolbox{
        contents = new List<Category>() {
            new Category {
                name = "Sections",
                categorystyle = "sectionCategory",
                contents = new List<Block>() {
                    new Block { type = "textHead" },
                    new Block { type = "global" }
                }
            },
            new Category {
                name = "Branch",
                categorystyle = "branchCategory",
                contents = new List<Block>() {
                    new Block { type = "label" },
                    new Block { type = "jump" },
                    new Block { type = "jumpRegister" },
                    new Block { type = "branchOn" }
                }
            },
            new Category {
                name = "Arithmetic",
                categorystyle = "arithmeticCategory",
                contents = new List<Block>() {
                    new Block { type = "arithmetic" },
                    new Block { type = "arithmeticImmediate" },
                }
            },
            new Category {
                name = "Conditional",
                categorystyle = "conditionalCategory",
                contents = new List<Block>() {
                    new Block { type = "setOn" },
                    new Block { type = "setOnUnsigned" },
                    new Block { type = "setOnImmediate" },
                    new Block { type = "setOnUnsignedImmediate" },
                }
            }
        }
    };

    public Level? levelComponent;
    public LevelComponents lc = new LevelComponents();
    required public WSIM WSIM;

    required public RexBoard board;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (levelComponent != null && levelComponent.wsimComponent != null)
            {
                board = levelComponent.wsimComponent.board;
                WSIM = levelComponent.wsimComponent;
            }

            lc.SetJSRuntime(JSRuntime);
            await lc.getProgress();
            StateHasChanged();
        }
    }


}