@page "/"
@using RexSimulator.Hardware
@using RexSimulator.Hardware.Wramp
@using System.ComponentModel
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

<h1>WRAMP Sim</h1>

<div id="body">

    <div id="blockly">
        <Blockly />
    </div>

    <div>
        <div>
            <h2>Upload Source</h2>
            <InputFile OnChange="Compile"/>
        </div>

        <div>
            <h2>Controls</h2>
            <button type="button" class="btn btn-info" @onclick="Step">Step</button>
            <button type="button" class="btn btn-success" @onclick="Run">Run</button>
            <button type="button" class="btn btn-danger" @onclick="Pause">Pause</button>

            <div id="switches">
                @for (int i = 0; i < 16; i++) {
                    int pos = i;
                    int value = (int)Math.Pow(2, pos);
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="@pos" @onclick="() => toggleSwitch(pos)">
                        <label class="form-check-label" for="@pos">Switch @pos</label>
                    </div>
                }
            </div>

            <div id="buttons">
                @for (int i = 0; i < 3; i++) {
                    int pos = i;
                    <button type="button" class="btn btn-primary" @onmousedown="() => pressButton(pos)" @onmouseup="() => releaseButton()">Button</button>
                }
            </div>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="gp-tab" data-bs-toggle="tab" data-bs-target="#gp-tab-pane" type="button" role="tab" aria-controls="gp-tab-pane" aria-selected="true">GP Registers</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="ram-tab" data-bs-toggle="tab" data-bs-target="#ram-tab-pane" type="button" role="tab" aria-controls="ram-tab-pane" aria-selected="false">RAM</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="parallel-tab" data-bs-toggle="tab" data-bs-target="#parallel-tab-pane" type="button" role="tab" aria-controls="parallel-tab-pane" aria-selected="false">Parallel Registers</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="serial-tab" data-bs-toggle="tab" data-bs-target="#serial-tab-pane" type="button" role="tab" aria-controls="serial-tab-pane" aria-selected="false">Serial Port</button>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="gp-tab-pane" role="tabpanel" aria-labelledby="gp-tab" tabindex="0">
                <GPRegisters CPU="@board.CPU" />
            </div>
            <div class="tab-pane fade ram" id="ram-tab-pane" role="tabpanel" aria-labelledby="ram-tab" tabindex="0">
                <RAM CPU="@board.CPU" mDevice="@board.RAM" />
            </div>
            <div class="tab-pane fade" id="parallel-tab-pane" role="tabpanel" aria-labelledby="parallel-tab" tabindex="0">
                <ParallelRegisters parallelMemory="@board.Parallel" />
            </div>
            <div class="tab-pane fade" id="serial-tab-pane" role="tabpanel" aria-labelledby="serial-tab" tabindex="0">
                <SerialPort serial="@board.Serial1" />
            </div>
        </div>
    </div>
</div>

@code {

    //WSIM Operation
    RexBoard board;

    protected override void OnInitialized()
    {
        board = new RexBoard();
    }

    bool running = false;

    //Take a .s file from the user and compile it to an SREC for use in the wsim
    async Task Compile(InputFileChangeEventArgs e)
    {
        //Reset board
        board.Reset();
        StateHasChanged();

        //Get the file from the InputFile element, and extract it's name and size.
        IBrowserFile file = e.File;
        byte[] fileBytes = new byte[file.Size];
        string fileName = file.Name;

        //Read the entire file as bytes
        using Stream stream = file.OpenReadStream();
        await stream.ReadAsync(fileBytes, 0, (int)file.Size);

        //Call assembleAndLink from app.js to compile the .s file and retrieve the resulting .srec file as bytes
        byte[] srecBytes = await JSRuntime.InvokeAsync<byte[]>("assembleAndLink", fileName, fileBytes);

        //Open a new memory stream, and pass to wsim for execution
        MemoryStream ms = new MemoryStream(srecBytes);
        await board.LoadSrecAsync(ms);
    }

    //Executes a single instruction
    void Step()
    {
        while(!board.Tick());
        StateHasChanged();
    }

    //Continuously executes instructions
    async Task Run()
    {
        if (running == false) {
            running = true;
            while (running)
            {
                board.Tick();
                await InvokeAsync(StateHasChanged);
                await Task.Delay(10);
            }
        }
    }

    //Pause execution of instructions
    void Pause()
    {
        running = false;
    }

    void toggleSwitch(int pos)
    {
        board.Parallel.Switches ^= (1u << pos);
    }

    void pressButton(int pos)
    {
        board.Parallel.Buttons = (uint)1 << pos;
    }

    void releaseButton()
    {
        board.Parallel.Buttons = 0;
    }
}