@page "/"
@using RexSimulator.Hardware
@using RexSimulator.Hardware.Wramp
@using System.ComponentModel
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

<h1>WRAMP Sim</h1>

<div id="body">

    <div id="blockly">
    </div>

    <div id="wsim">
        <div>
            <h2>Upload Source</h2>
            <InputFile OnChange="Compile"/>
        </div>

        <div>
            <h2>Controls</h2>
            <button @onclick="Step">Step</button>
            <button @onclick="Run">Run</button>
            <button @onclick="Pause">Pause</button>

            @for (int i = 0; i < 16; i++) {
                int pos = i;
                int value = (int)Math.Pow(2, pos);
                <button @onclick="() => toggleSwitch(pos)">Switch @pos</button>
            }
        </div>    

        <div>
            <div id="tab">
                <button class="tabLink" @onclick='e => openTab("GPRegisters")'>GP Registers</button>
                <button class="tabLink" @onclick='e => openTab("RAM")'>RAM</button>
                <button class="tabLink" @onclick='e => openTab("ParallelRegisters")'>Parallel Registers</button>
            </div>

            <div id="GPRegisters" class="tabContent">
                <h2>General Purpose Registers</h2>
                <GPRegisters CPU="@board.CPU" />
            </div>

            <div id="RAM" class="tabContent">
                <h2>RAM</h2>
                <RAM CPU="@board.CPU" mDevice="@board.RAM" />
            </div>

            <div id="ParallelRegisters" class="tabContent">
                <h2>Parallel Port Registers</h2>
                <ParallelRegisters parallelMemory="@board.Parallel" />
            </div>
        </div>
    </div>
</div>

@code { 

    //Tab Switching
    async Task openTab(string tabName) {
        await JSRuntime.InvokeVoidAsync("openTab", tabName);
    }

    //WSIM Operation
    RexBoard board = new RexBoard();
    bool running = false;

    //Take a .s file from the user and compile it to an SREC for use in the wsim
    async Task Compile(InputFileChangeEventArgs e) {
        //Get the file from the InputFile element, and extract it's name and size.
        IBrowserFile file = e.File;
        byte[] fileBytes = new byte[file.Size];
        string fileName = file.Name;

        //Read the entire file as bytes
        using Stream stream = file.OpenReadStream();
        await stream.ReadAsync(fileBytes, 0, (int)file.Size);

        //Import app.js
        IJSObjectReference module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./wrampToolchain/app.js");

        //Compile the .s file and retrieve the resulting .srec file as bytes
        byte[] srecBytes = await JSRuntime.InvokeAsync<byte[]>("assembleAndLink", fileName, fileBytes);
        
        //Open a new memory stream, and pass to wsim for execution
        MemoryStream ms = new MemoryStream(srecBytes);
        await board.LoadSrecAsync(ms);
    }

    //Executes a single instruction
    void Step()
    {
        while(!board.Tick());
        StateHasChanged();
    }

    //Continuously executes instructions
    async Task Run()
    {
        if (running == false) {
            running = true;
            while (running)
            {
                board.Tick();
                await InvokeAsync(StateHasChanged);
                await Task.Delay(10);
            }
        }
    }

    //Pause execution of instructions
    void Pause()
    {
        running = false;
    }

    void toggleSwitch(int pos) {
        board.Parallel.Switches ^= (1u << pos);
    }
}