@inject IJSRuntime JSRuntime

<div class="col">
    <div class="btn-group mb-2" role="group" aria-label="Code Controls">
        <button type="button" class="btn btn-warning" @onclick="saveWorkspace">Save</button>
        <label class="btn btn-info">Load
            <InputFile hidden id="workspaceInput" OnChange="loadWorkspace"/>
        </label>
    </div>

    <div id="blocklyDiv"></div>

    <Blockly @ref="blocklyComponent" Exported="ExportHandler" Toolbox="@Toolbox"/>
</div>

<div class="col d-flex flex-column h-100">
    <WSIM @ref="wsimComponent" CompileRequested="CompileHandler" Registers="@Registers" Tabs="@Tabs" Instructions="@Instructions" Library="@Library"/>
</div>

@code {
    [Parameter]
    required public string Toolbox { get; set; }

    [Parameter]
    required public List<KeyValuePair<int, int>> Registers { get; set; }

    [Parameter]
    required public Tabs Tabs { get; set; }

    [Parameter]
    public string? Instructions { get; set; }

    [Parameter]
    public string[]? Library { get; set; }

    required public Blockly blocklyComponent;
    required public WSIM wsimComponent;

    public async Task CompileHandler()
    {
        await blocklyComponent.Export();
    }

    public async Task ExportHandler((string code, string[] IDs, List<string> labels) args)
    {
        await wsimComponent.Compile(args);
    }

    async Task saveWorkspace()
    {
        await JSRuntime.InvokeVoidAsync("saveWorkspace");
    }

    async Task loadWorkspace(InputFileChangeEventArgs e)
    {
        try
        {
            string workspaceJSON;
            using (Stream s = e.File.OpenReadStream())
            {
                using (StreamReader sr = new StreamReader(s))
                {
                    workspaceJSON = await sr.ReadToEndAsync();
                    await JSRuntime.InvokeVoidAsync("loadWorkspace", workspaceJSON);
                }
            }
        }
        catch {}
    }
}
