@using System.Text.Json

@* Page Title *@
<PageTitle>@Title</PageTitle>

<div class="flex-column d-flex vh-100">
    <div class="fixed-top d-flex justify-content-end" >
        <!-- Trigger for credits modal -->
        <i class="m-2 fs-5 bi bi-question-circle" data-bs-toggle="modal" data-bs-target="#creditsModal"></i>
        <img class="m-2" id="themeSwitcher" onclick="switchTheme()" src="img/light.svg" alt="An icon either depicting a sun or moon.">
    </div>

    <nav class="navbar">
        <div class="container-fluid">
            <span class="navbar-brand">
                <img class="logo" src="img/reginald.png" alt="Photo of a duck">
                <span class="h1">WRAMP SIM</span>
            </span>
        </div>
    </nav>

    <div class="container-fluid flex-grow-1 overflow-hidden pb-3">
        <div class="row h-100">
            <LevelSelector/>

            @* Delete below divs for an empty level template *@
            <div class="col">
                @if (UIComponents.Blockly && MainInstructions == null)
                {
                    <Blockly @ref="blocklyComponent" Exported="ExportHandler" Toolbox="@JsonSerializer.Serialize(toolbox)" maxInstances="@maxInstances" Snippet="@Snippet"/>
                }
                else if (MainInstructions != null)
                {
                    <div>@MainInstructions</div>
                }
            </div>

            <div class="col d-flex flex-column h-100">
                <WSIM @ref="wsimComponent" CompileRequested="CompileHandler" BoardChanged="BoardHandler" UIComponents="@UIComponents" WSIMInstructions="@WSIMInstructions" Library="@Library"/>
            </div>
        </div>
    </div>
</div>

@* Delete for blank level template *@
@code {
    [Parameter]
    required public string Title { get; set; }

    [Parameter]
    required public Toolbox toolbox { get; set; }

    [Parameter]
    public string? maxInstances { get; set; }

    [Parameter]
    public string? Snippet { get; set; }

    [Parameter]
    required public UIComponents UIComponents { get; set; }

    [Parameter]
    public RenderFragment? WSIMInstructions { get; set; }

    [Parameter]
    public RenderFragment? MainInstructions { get; set; }

    [Parameter]
    public EventCallback BoardChanged { get; set; }

    [Parameter]
    public string[]? Library { get; set; }

    public Blockly? blocklyComponent;
    public WSIM? wsimComponent;

    async Task CompileHandler()
    {
        if (blocklyComponent != null) await blocklyComponent.Export();
    }

    async Task ExportHandler((string code, string[] IDs, List<string> labels) args)
    {
        if (wsimComponent != null) await wsimComponent.Compile(args);
    }

    async Task BoardHandler()
    {
        await BoardChanged.InvokeAsync();
    }
}