@page "/levelOne"

<PageTitle>Home</PageTitle>

<Page Level="levelOne" Toolbox="@toolbox" Registers="@registers" tabs="@tabs" Instructions="@Instructions" Library="@Library"/>

@code {
    public List<KeyValuePair<int, int>> registers = new() {
        new KeyValuePair<int, int> (1, 5),
        new KeyValuePair<int, int> (2, 10),
    };

    public Tabs tabs = new Tabs(Instructions: true, GPRegisters: true, RAM: false, ParallelRegisters: false, SerialPort: false, PhysicalComponents: false, Library: true);

    public string Instructions = """
    Make:
        $1 = 5
        $2 = 10
    """;

    public string[] Library = {"switches.s", """
    <table>
        <tr>
            <td>.equ sp1_tx,</td>
            <td>0x70000</td>
        </tr>
        <tr>
            <td>.equ sp1_rx,</td>
            <td>0x70001</td>
        </tr>
        <tr>
            <td>.equ sp1_ctrl,</td>
            <td>0x70002</td>
        </tr>
        <tr>
            <td>.equ sp1_stat,</td>
            <td>0x70003</td>
        </tr>
        <tr>
            <td>.equ sp1_iack,</td>
            <td>0x70004</td>
        </tr>
        <tr>
            <td>.equ par_switch,</td>
            <td>0x73000</td>
        </tr>
        <tr>
            <td>.equ par_btn,</td>
            <td>0x73001</td>
        </tr>
        <tr>
            <td>.equ par_ctrl,</td>
            <td>0x73004</td>
        </tr>
        <tr>
            <td>.equ par_iack,</td>
            <td>0x73005</td>
        </tr>
            <td>.equ par_ulssd,</td>
            <td>0x73006</td>
        <tr>
            <td>.equ par_urssd,</td>
            <td>0x73007</td>
        </tr>
        <tr>
            <td>.equ par_llssd,</td>
            <td>0x73008</td>
        </tr>
        <tr>
            <td>.equ par_lrssd,</td>
            <td>0x73009</td>
        </tr>
    </table>
    .text
    .global putch
    putch:
        subui $sp, $sp, 1
        sw $13, 0($sp)
        putch_wait:
        lw $13, sp1_stat($0)
        andi $13, $13, 2
        beqz $13, putch_wait
        sw $2, sp1_tx($0)
        lw $13, 0($sp)
        addi $sp, $sp, 1
        jr $ra

    .global putstr
    putstr:
        subui $sp, $sp, 3
        sw $13, 0($sp)
        sw $2, 1($sp)
        sw $ra, 2($sp)

        add $13, $0, $2

        putstr_loop:
        lw $2, 0($13)
        beqz $2, putstr_end
        jal putch
        addi $13, $13, 1
        j putstr_loop

        putstr_end:
        lw $13, 0($sp)
        lw $2, 1($sp)
        lw $ra, 2($sp)
        addi $sp, $sp, 3
        jr $ra

    .global readswitches
    readswitches:
        lw $1, par_switch($0)
        jr $ra

    .global writessd
    writessd:
        subui $sp, $sp, 1
        sw $2, 0($sp)

        sw $2, par_lrssd($0)
        srli $2, $2, 4
        sw $2, par_llssd($0)
        srli $2, $2, 4
        sw $2, par_urssd($0)
        srli $2, $2, 4
        sw $2, par_ulssd($0)

        lw $2, 0($sp)
        addui $sp, $sp, 1
        jr $ra
    """};



    public Toolbox toolbox = new Toolbox{
        contents = new List<Category>() {
            new Category {
                name = "Sections",
                categorystyle = "sectionCategory",
                contents = new List<Block>() {
                    new Block { type = "textHead" },
                    new Block { type = "global" }
                }
            },
            new Category {
                name = "Branch",
                categorystyle = "branchCategory",
                contents = new List<Block>() {
                    new Block { type = "label" },
                    new Block { type = "jumpRegister" },
                    new Block { type = "jump" }
                }
            },
            new Category {
                name = "Arithmetic",
                categorystyle = "arithmeticCategory",
                contents = new List<Block>() {
                    new Block { type = "arithmeticImmediate" }
                }
            }
        }
    };
}