@using System.Text.Json
@using RexSimulator.Hardware
@using RexSimulator.Hardware.Rex
@inject IJSRuntime JSRuntime

<PageTitle>@Title</PageTitle>

<div class="flex-column d-flex vh-100">
    <div class="fixed-top d-flex justify-content-end" >
        <img class="m-2" id="themeSwitcher" onclick="switchTheme()" src="img/light.svg" alt="An icon either depicting a sun or moon.">
    </div>

    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img id="logo" src="img/reginald.png" alt="Photo of a duck">
                <span class="h1">WRAMP SIM</span>
            </a>
        </div>
    </nav>

    <div class="container-fluid flex-grow-1 overflow-hidden pb-3">
        <div class="row h-100">
            <LevelSelector LevelName="@LevelName"/>

            <div class="col">
                @if (UIComponents.Blockly)
                {
                    <Blockly @ref="blocklyComponent" Exported="ExportHandler" Toolbox="@JsonSerializer.Serialize(toolbox)"/>
                }
                else if (MainInstructions != null)
                {
                    <div>@MainInstructions</div>
                }
            </div>

            <div class="col d-flex flex-column h-100">
                <WSIM @ref="wsimComponent" CompileRequested="CompileHandler" BoardChanged="BoardHandler" UIComponents="@UIComponents" WSIMInstructions="@WSIMInstructions" Library="@Library"/>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    required public string Title { get; set; }

    [Parameter]
    required public string LevelName { get; set; }

    [Parameter]
    required public Toolbox toolbox { get; set; }

    [Parameter]
    required public UIComponents UIComponents { get; set; }

    [Parameter]
    public RenderFragment? WSIMInstructions { get; set; }

    [Parameter]
    public RenderFragment? MainInstructions { get; set; }

    [Parameter]
    public EventCallback BoardChanged { get; set; }

    [Parameter]
    public string[]? Library { get; set; }

    public Blockly? blocklyComponent;
    public WSIM? wsimComponent;

    async Task CompileHandler()
    {
        if (blocklyComponent != null) await blocklyComponent.Export();
    }

    async Task ExportHandler((string code, string[] IDs, List<string> labels) args)
    {
        if (wsimComponent != null) await wsimComponent.Compile(args);
    }

    async Task BoardHandler()
    {
        await BoardChanged.InvokeAsync();
    }
}