@using RexSimulator.Hardware
@using RexSimulator.Hardware.Rex
@using RexSimulator.Hardware.Wramp
@using System.ComponentModel
@using System.Security.Permissions
@using System.Text
@using System.Text.Json
@using System.Runtime.Intrinsics.X86
@using System.Diagnostics.Contracts
@using System.ComponentModel.Design

<div class="row">
    <div class="col mx-1" id="blockly">
        <Blockly @ref="blocklyComponent" Exported="ExportHandler" Toolbox="@Toolbox"/>
    </div>

    <div class="col mx-1">
        <WSIM @ref="wsimComponent" CompileRequested="CompileHandler" Registers="@Registers" Tabs="@Tabs" Instructions="@Instructions" Library="@Library"/>
    </div>
</div>

@code {
    [Parameter]
    required public string Toolbox { get; set; }

    [Parameter]
    required public List<KeyValuePair<int, int>> Registers { get; set; }

    [Parameter]
    required public Tabs Tabs { get; set; }

    [Parameter]
    public string? Instructions { get; set; }

    [Parameter]
    public string[]? Library { get; set; }

    required public Blockly blocklyComponent;
    required public WSIM wsimComponent;

    public async Task CompileHandler()
    {
        await blocklyComponent.Export();
    }

    public async Task ExportHandler((string code, string[] IDs, List<string> labels) args)
    {
        await wsimComponent.Compile(args);
    }
}
