@using RexSimulator.Hardware
@using RexSimulator.Hardware.Rex
@using RexSimulator.Hardware.Wramp
@using System.Linq
@using System.Reflection.Metadata.Ecma335
@using System.Diagnostics.Contracts

@code {
    [Parameter]

    required public MemoryDevice mDevice { get; set; }

    [Parameter]

    required public SimpleWrampCpu CPU { get; set; }

    [Parameter]

    required public uint wordsLoaded { get; set; }

    [Parameter]
    required public List<string> labels { get; set; }

    public class MemoryPos
    {
        public string pointer;
        public uint address;
        public uint value;
        public IR ir = new IR();
        public string label;
        public MemoryPos(string pointer, uint address, uint value, string label)
        {
            this.pointer = pointer;
            this.address = address;
            this.value = value;
            ir.Instruction = value;
            this.label = label;
        }
    }
}

@* Prints out certain sections of RAM, detailing address, value, and the disassembled instructions *@
@if (mDevice != null)
{
    //Print instructions with a small buffer of null addresses at the end
    List<MemoryPos> mPos = new List<MemoryPos>();
    @for (uint i = mDevice.BaseAddress; i < (mDevice.BaseAddress + wordsLoaded + 5); i++)
    {
        if (mDevice.Name == "Memory (RAM)")
        {
            if (i == CPU.PC)
            {
                mPos.Add(new MemoryPos("$pc", i, mDevice[i], ""));
                continue;
            }
            else if (i == CPU.mGpRegisters[RegisterFile.GpRegister.ra])
            {
                mPos.Add(new MemoryPos("$ra", i, mDevice[i], ""));
                continue;
            }
        }
        mPos.Add(new MemoryPos("", i, mDevice[i], ""));
    }
    if (labels != null)
    {
        @for (int i = 0; i < labels.Count; i++)
        {
            if (labels[i] != "")
            {
                mPos[i].label = labels[i];
            }
        }
    }


    //Print the stack
    uint sp = CPU.mGpRegisters[RegisterFile.GpRegister.sp];
    if (sp != 0xFFFFFFFF)
    {
        uint topOfStack = sp;
        while(mDevice[topOfStack--] != 0xFFFFFFFF)
        for (uint i = topOfStack; i <= CPU.mGpRegisters[RegisterFile.GpRegister.sp]; i++)
        {
            mPos.Add(new MemoryPos("", i, mDevice[i], ""));
        }
        mPos.Add(new MemoryPos("$sp", sp, mDevice[sp], ""));
    }

    <table id="mDeviceTable">
        <thead>
            <tr>
                <th>Pointer</th>
                <th>Address</th>
                <th>Value</th>
                <th>Disassembly</th>
                <th>Label</th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="mPos" Context="item">
                <tr>
                    <td>@item.pointer</td>
                    <td>@item.address.ToString("X8")</td>
                    <td>@item.value.ToString("X8")</td>
                    <td>@item.ir.ToString()</td>
                    <td>@item.label</td>
                </tr>
            </Virtualize>
        </tbody>
    </table>
}
